* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Press Start 2P', cursive;
  height: 100vh;
  background: rgb(195, 34, 115);
  background: linear-gradient(
    0deg,
    rgba(195, 34, 115, 1) 0%,
    rgba(253, 189, 45, 1) 100%
  );
  background-size: cover;
}

canvas {
  border: 0.5rem solid black;
  border-radius: 1rem;
  display: block;
  margin: 50px auto;
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.719);
  background-image: url('/assets/day.webp');
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}

#end-menu {
  color: whitesmoke;
  text-align: center;
  display: none;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 20%);
  margin: 50px auto;
  width: 15rem;
  padding: 2rem;
  z-index: 2;
  gap: 1rem;
  background: rgba(0, 0, 0, 0.55);
  box-shadow: 0 8px 32px 1rem rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.text-end-menu {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#start-over {
  font-family: 'Press Start 2P', cursive;
  color: whitesmoke;
  margin: 2rem 0 2rem 0;
  padding: 0.6rem;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  transition: all 0.3s ease-in-out;
}

#start-over:hover {
  transform: scale(1.1);
}

#start-over:active {
  transform: scale(0.9);
}

#score-display {
  color: whitesmoke;
  font-size: 2rem;
  text-align: center;
  text-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.76);
}
